* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: antiquewhite;
    font-family: Arial;
    font-size: 20px;
    padding: 75px;
}

h1 {
    text-align: center;
    display: block;
    margin-left: auto;
    margin-right: auto;
    color: rgb(203, 10, 10);
}

div {
    text-align: center;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 10px;
}

#CR7-image {
    width: 100px;
    height: 150px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}

#messi-image {
    width: 100px;
    height: 150px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}

#immobile-image {
    width: 100px;
    height: 150px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}

#suarez-image {
    width: 100px;
    height: 150px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}